
.descriptionTaskEmpty {

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;    
    height: 15.25rem;        
    color:var(--grey-300);    
    margin-top: 24px;
    border-radius: 16px 16px 0px 0px;
    border-top: 1px solid var(--grey-500);
}

.titleTextYou {
    font-weight: bold;
    font-size: 1rem;
    line-height: 22.4px;
    margin-top: 10px;
}