.headerBackground {
    display:flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color:var(--grey-600);    
    color: var(--white);

}

.containerNewTask {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-top: -25px;
    gap: 6px;
    
}

.inputNewTaks {
    width: 638px;
    height: 54px;
    border-radius: 6px;
    background-color: var(--grey-500);
    border:0px;
    padding: 16px;
    color: var(--grey-300);
}

.buttonNewTaks {
    width: 90px;
    height: 52px;
    background-color: var(--blue-dark);
    border-radius: 6px;
    border: 0;
    color: var(--grey-100);
}